.VSCodeCounter/
.vscode/
.DS_Store

explugins/
sdk/

Birdactyl-Go-SDK-main/
Birdactyl-Java-SDK-main/
plugin-ui-sdk/
examples/

server/config.yaml
server/server
server/logs/
server/plugins/
server/*.db

axis/config.yaml
axis/axis
axis/cauthon-axis
axis/logs/

client/node_modules/
client/dist/
client/.vite/
client/bun.lock
