.vscode/
.DS_Store

explugins/
sdk/

Birdactyl-Go-SDK
Birdactyl-Java-SDK
plugin-ui-sdk/
examples/

server/config.yaml
server/server
server/logs/
server/plugins/
server/*.db
server/birdactyl

axis/config.yaml
axis/axis
axis/cauthon-axis
axis/logs/
axis/sftp_host_key

client/node_modules/
client/dist/
client/.vite/
client/bun.lock

.idea
SDKs
